@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Outfit';
    src: url('./outfit/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
}